body {
    text-align: center;
    background-color:rgb(255, 252, 249);
    font-family: 'Poppins', sans-serif;
    background-size:cover;
    background-size:cover;                      
    background-position:center center; 
}
#brand_name {
    font-size:larger;
}
#dev-paragraph {
    position:relative;
    top:150px;
    font-size:17px;
}
#dev-example {
    position: relative;
    top:180px;
}
#dev-example a {
    text-decoration: underline;
    color:black;
}
#name {
    font-family: 'Poppins', sans-serif;
}
#footer {
    position: fixed;
    bottom: 0;
    background-color:rgb(18, 15, 27);
    border-radius: 20px;
    height:80px;
    width:98%;
}
#footer a {
    text-decoration: none;
}
.linkname {
    position:relative;
    bottom:10px;
}
#ilinkname {
    position:relative;
    top:-34.5px;
}
#slinkname {
    position:relative;
    top:-35px;
    left:5px;
}
#imagerow {
    position: relative;
    top:150px;
}
.spanspace {
    padding-left:30px;
}
#iframething {
    position: relative;
    top:200px;
}